.color-rep{
	color:$color-rep;
}

.color-text-2{
	color:$color-text-2;
}

.color-text-3{
	color:$color-text-3;
}

.color-black{
	color:black;
}

.display{
	display: inline block;
}

.line-altuta-a{
	height: 1.5em;
}