html{
	font-family: 'Open Sans',Arial,sans-serif;
}

$color-rep: #D30101;
$color-menu: #BA1414;
$color-nav: #EEE;
$color-text-2: #858594;
$color-text-3:#D0D8DF;
$white:white;

// medidas
$width:100%;

$diez:10%;
$cinco:5%;
$recuadro_li:#e6e6ff;