/*PARTE DE LUPITA*/

footer{
	background:$color-text-3;
	padding-top: 2em;
	height: 100% !important;
	margin-top: 2rem;
}

.linea-foo{
	margin-top: 4%;
	border-color:$color-text-2;
}

/*TERMINA PARTE DE LUPITA*/