/*PARTE DE LUPITA*/
.form-control{
	background: #DADADA!important;
	margin-top: 1em;
}

.radio-form{
	text-align: right;
	font-size: 0.8em;
	font-weight: 400;
}

label{
	font-size: 0.9em;
}

.space_1{
	margin-left:4.5em;
}

.space_2{
	margin-left:10em;
}

.space_3{
	margin-left:12em;
}

.space_4{
	margin-left:11.3em;
}

.space_5{
	margin-left:6.8em;
}

.space_6{
	margin-left:15em;
}

.btn-default{
	background: black!important;
	color: $white!important;
	width: 13em;
	margin-bottom: 4em;
}
/*TERMINA PARTE DE LUPITA*/